<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>Harvey & Vicky @ 2022.07.03</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap">
    <meta property="og:title" content="Wedding is Coming | Harvey & Vicky" />
    <meta property="og:description" content="皓偉和筠耘的婚禮邀請函|豪鼎飯店-北新旗艦館 @ 2022.07.03" />
    <meta property="og:image" content="https://harveylee0307.gitlab.io/WeddingIsComing/assets/img/ogImg.jpg" />
    <meta property="og:image:width" content="476">
    <meta property="og:image:height" content="250">
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="236662263485405" />
    <meta property="fb:admins" content="589390801" />

</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v13.0&appId=236662263485405&autoLogAppEvents=1"
        nonce="F7yA4SjX"></script>

    <div class="opening">
        <h1 class="opening__title">Save The Date</h1>

        <div class="opening__info">
            <div><span class="name" style="font-size:3em">{{name}}</span> <span class="type"
                    style="font-size:1.5em">{{type}}</span> <span style="font-size:1.5em">鈞啟</span></div>
        </div>
        <a href="javascript:;" class="btn-close-open">Invitation to Follow</a>
    </div>
    <div class="main">
        <div class="fixed-btn">
            <img src="assets/img/icon-comment.png" alt="留下祝福">
        </div>

        <section class="card-section">
            <section class="countdown-section">
                <p>2022.07.03</p>
                <p style="color: #b78a5d;">Wedding is Coming</p>
                <div class="countdown" id="time"></div>
            </section>
            <div class="card">
                <div class="flip-card">
                    <div class="flip-card__container">
                        <div class="card-front">
                        </div>
                        <div class="card-back">
                        </div>
                    </div>
                </div>
                <div class="inside-page">
                </div>
            </div>
        </section>

        <section class="comments-section">
            <div class="comments-toggle">
                <header>
                    <span>留下祝福</span>
                    <span class="close-btn">X</span>
                </header>
            </div>
            <div class="comments-responsive">
                <div class="fb-comments" data-href="https://harveylee0307.gitlab.io/WeddingIsComing/index.html"
                    data-width="100%" data-order-by="time" data-numposts="5"></div>
            </div>
        </section>
        <section class="map-section">
            <div class="map-toggle">
                <header>
                    <span>觀看地圖</span>
                </header>
            </div>
            <div class="map-responsive">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1808.2240518241554!2d121.53854702728171!3d24.984885196002494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346801fed70ad06d%3A0x2b2b0cae3db1b50c!2z6LGq6byO6aOv5bqXIOWMl-aWsOaXl-iJpuWpmuWutOacg-mkqA!5e0!3m2!1szh-TW!2stw!4v1653058110604!5m2!1szh-TW!2stw"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>
<script src="https://cdn.jsdelivr.net/mojs/0.288.1/mo.min.js"></script>
<script src="https://cdn.jsdelivr.net/mojs-player/0.43.15/mojs-player.min.js"></script>
<script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>

<!-- <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp, } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-analytics.js";
    import { getDatabase, ref, child, update, get } from 'https://www.gstatic.com/firebasejs/9.8.1/firebase-database.js'
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
        apiKey: "AIzaSyAhgPKknKrHvYbF6ZUxqAie86GjaATY__g",
        authDomain: "wedding-is-coming.firebaseapp.com",
        databaseURL: "https://wedding-is-coming-default-rtdb.asia-southeast1.firebasedatabase.app",
        projectId: "wedding-is-coming",
        storageBucket: "wedding-is-coming.appspot.com",
        messagingSenderId: "767129703391",
        appId: "1:767129703391:web:03869572b79d4421d0aa6a",
        measurementId: "G-35PNZ7TYLX"
    };


    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
    const db = getDatabase();
    const COUNTER_REF = ref(db, 'counter');



    function fetchClickCounts() {
        get(child(COUNTER_REF, 'click_count')).then((snapshot) => {
            if (snapshot.exists()) {
                console.log(snapshot.val());
            } else {
                console.log("No data available");
            }
        }).catch((error) => {
            console.log(error);
        })
    }

    fetchClickCounts()
    //Update Data
    function updateClickCount() {
        update(COUNTER_REF, { 'click_count': 1 }).then(() => {
            getCounts()
        }).catch((error) => {
            console.log(error);
        })
    }


    //Set Data
    // function writeUserData(userId, name, email) {
    //     const db = getDatabase();
    //     set(ref(db, 'users/' + userId), {
    //         username: name,
    //         email: email,
    //     });
    // }

    // writeUserData('3157', 'Harvey', 'harveylee@gmail.com')







</script> -->

<script src="assets/js/main.js"></script>
<!-- <script src="assets/js/data.js"></script> -->


</html>