/* CSS reset */
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: auto;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

body.comments-open::after {
  content: '';
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1100;
}

/* Layout Structure=========================================*/
svg {
  width: 100vw;
  height: 100vh;
}

.main {
  background: url(https://rawcdn.githack.com/SochavaAG/example-mycode/master/pens/item-hover-citrus/images/texture.png) repeat scroll 50% 0 #f9d7d7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  width: 100%;
}

.map-section {
  width: 100%;
  max-width: 600px;
  align-self: flex-end;
  position: fixed;
  z-index: 1000;
  bottom: 0;
}

.map-toggle {
  bottom: 0;
  right: 24px;
}

.map-toggle header {
  background: #c2b09f;
  border-radius: 15px 15px 0 0;
  color: #fff;
  cursor: pointer;
  padding: 10px;
}

.map-toggle span {
  display: flex;
  align-items: center;
}

.map-toggle span:before {
  content: '';
  background-image: url(../img/pin.png);
  background-size: cover;
  display: inline-block;
  height: 24px;
  margin: 0 6px 0 0;
  width: 24px;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 60%;
  position: relative;
  height: 0;
  border: 1px solid #c2b09f;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.fixed-btn {
  background-color: #e07c7c;
  cursor: pointer;
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: 50%;
  position: fixed;
  left: 1em;
  bottom: 3.5em;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
}

.fixed-btn img {
  max-width: 100%;
}

.comments-responsive {
  background-color: #fff;
  max-height: 400px;
  overflow: auto;
}

.comments-section {
  width: 100%;
  max-width: 600px;
  align-self: flex-start;
  position: fixed;
  z-index: 1200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.comments-section .comments-toggle {
  display: none;
}

.comments-open .comments-section {
  pointer-events: all;
}

.comments-open .comments-section .comments-toggle {
  display: block;
}

.comments-open .comments-section .comments-toggle .close-btn {
  margin-left: auto;
  margin-right: 0.5em;
}

.comments-toggle header {
  background: #e07c7c;
  border-radius: 15px 15px 0 0;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  display: flex;
}

.comments-toggle span:not(.close-btn) {
  display: flex;
  align-items: center;
}

.comments-toggle span:not(.close-btn):before {
  content: '';
  background-image: url(../img/icon-comment.png);
  background-size: cover;
  display: inline-block;
  height: 24px;
  margin: 0 6px 0 0;
  width: 24px;
}

/* Card ============================================*/
.card-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 65px 0;
}

.card {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.02);
  box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.5);
  height: 700px;
  width: 500px;
  position: relative;
  transition: all 1s ease;
}

.card.open {
  box-shadow: -4rem 2rem 2rem -2rem rgba(0, 0, 0, 0.75);
  width: 30rem;
  transform: translateX(60%);
}

.card.open .flip-card__container {
  box-shadow: -1rem 2rem 2rem -2rem rgba(0, 0, 0, 0.75);
  transform: rotateY(-180deg);
}

.card.open .inside-page {
  box-shadow: inset 4rem 0px 2rem 0rem rgba(0, 0, 0, 0.1);
}

.flip-card {
  height: 700px;
  perspective: 100rem;
  position: absolute;
  right: 0;
  visibility: hidden;
  width: 500px;
  z-index: 100;
  transition: all 1s ease;
}

.flip-card > * {
  visibility: visible;
}

.flip-card .flip-card__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

.flip-card .card-front,
.card-back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-front {
  background-image: url("../img/outside.jpg");
  background-position: right center;
  height: 700px;
  width: 500px;
}

.card-back {
  transform: rotateY(180deg);
  background-image: url("../img/inside.jpg");
  background-position: left center;
}

.inside-page {
  box-shadow: inset 15rem 0px 15rem -4rem rgba(0, 0, 0, 0.1);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  width: 500px;
  z-index: 1;
  background-image: url("../img/inside.jpg");
  background-position: right center;
}

.card-front,
.card-back,
.inside-page {
  transition: all 1s ease;
  background-color: #fafbfa;
  background-size: cover;
}

.countdown-section {
  text-align: center;
  font-family: 'Lobster';
  margin-bottom: 2em;
}

.countdown-section p {
  font-size: 3rem;
  margin-bottom: 0.2em;
  color: #ce3349;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.countdown {
  color: #b78a5d;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.countdown span {
  color: #fff;
  font-size: 3rem;
  margin-left: 0.6rem;
}

.countdown span:first-of-type {
  margin-left: 0;
}

.countdown-circles {
  text-transform: uppercase;
  font-weight: bold;
}

.countdown-circles span {
  width: 100px;
  height: 100px;
  border-radius: 0%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.countdown-circles span:first-of-type {
  margin-left: 0;
}

.opening {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: url(https://rawcdn.githack.com/SochavaAG/example-mycode/master/pens/item-hover-citrus/images/texture.png) repeat scroll 50% 0 #bf0505;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.opening__title {
  font-family: 'Lobster';
  font-size: 4em;
  font-weight: normal;
  color: #c5b52e;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.opening__info {
  margin: 20px 0;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.opening .btn-close-open {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  font-weight: bold;
  margin: 10px;
  padding: 10px 15px;
  min-width: 5em;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .card,
  .card-front,
  .flip-card {
    width: 175px;
    height: 250px;
  }
  .inside-page {
    box-shadow: inset 2rem 0px 1rem 0 rgba(0, 0, 0, 0.1);
    width: 175px;
    height: 250px;
  }
  .card.open {
    box-shadow: none;
    width: 10rem;
  }
  .card.open .flip-card__container {
    box-shadow: 0rem 1rem 2rem -2rem rgba(0, 0, 0, 0.75);
  }
  .map-responsive {
    padding-bottom: 100%;
  }
  .countdown-section p {
    font-size: 2rem;
  }
  .countdown-section .countdown span {
    font-size: 2rem;
  }
  .comments-section {
    width: 100%;
    bottom: 44px;
  }
}
